@font-face{
    font-family: jones1;
    src: url(bookman_Regular-font.otf)
}

@font-face{
    font-family: jones2;
    src: url(bookman_Bolditalic-font.otf)
}

body{
    color: #eea219;
    font-family: jones1;
    background-image: url(topbckgrnd.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 1500px 1450px;
    background-position: center;
}

h1{
    font-family: jones2;
    text-align: center;
}