@font-face{
    font-family: jones1;
    src: url(bookman_Regular-font.otf)
}

@font-face{
    font-family: jones2;
    src: url(bookman_Bolditalic-font.otf)
}

body{
    color: #eea219;
    font-family: jones1;
    background-image: url(topbckgrnd.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: center;
}

nav{
list-style-type: none;
margin: 10px;
padding: 10px;
background-color: #eaa219;
display: flex;
justify-content: center;
clear: both;
}

nav a{
    width: 50%;
    border-color: #946637;
    border-style: solid;
    text-align: center;
}

#wrapper{
    border-style: solid;
    border-color: #946637;
    background-color: #4b6039;
    width: 2500px;
    margin: auto;
    padding: 50px
}

h1{
    font-family: jones2;
    margin: auto;
}

#photos{
    align-self: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #eaa219;
}

#logo{
    float: left;
}

header{
    text-align: center;
}

.square {
    width: 100%;
}

.ppl{
    width: 100%;
}